### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

db/admins.json
db/citas.json
db/doctores.json
db/pacientes.json

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store